body {

  background-color: $prymery-bgc;
  color: $tittle-text-color;

  font-family: $font-family;
  letter-spacing: $prymery-letter-spacing;
  font-size: $prymery-font-size;
  text-decoration: none;


}
