.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/herobg/480/hero-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    -webkit-image-set(url(../images/herobg/480/hero-480.webp) 1x);

  @include mq(retina) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/herobg/480/hero-480@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(url(../images/herobg/480/hero-480@2x.webp) 2x);
  }

  @include mq(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/herobg/768/hero-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(url(../images/herobg/768/hero-768.webp) 1x);

    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/herobg/768/hero-768@2x.jpg);
    
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(url(../images/herobg/768/hero-768@2x.webp) 2x);}
  }
  @include mq(desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/herobg/1200/hero-1200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(url(../images/herobg/1200/hero-1200.webp));
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/herobg/1200/hero-1200@2x.jpg);
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        -webkit-image-set(url(../images/herobg/1200/hero-1200@2x.webp) 2x);
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  @extend %container;
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  color: $white-color;
@media screen and (min-width: 768px) {
  width: 360px;
 
}
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    width: 696px;
    
  }
}

.hero__button {
  @extend %button;

  &--prymery {
    padding: 10px 32px;
    min-width: 200px;

    color: $white-color;
    background-color: $accent-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;

    transition: background-color 250ms $timing-function;
  }
}

.hero__button--prymery:hover {
  background-color: #188ce8;
}
.hero__button--prymery {
  .hero__button {
    @extend %button;

    &--prymery {
      padding: 10px 32px;
      min-width: 200px;

      color: $white-color;
      background-color: $accent-color;

      font-weight: 700;
      font-size: 16px;
      line-height: 1.9;
      letter-spacing: 0.06em;
      text-align: center;

      transition: background-color 250ms $timing-function;
    }
  }
}
.hero__button--prymery:hover,
.hero__button--prymery:focus {
  background-color: #188ce8;
}
