.work {
  padding-top: 0;
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.work__container {
@extend %container;
}
.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;

  color: $prymery-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work__list {
  @extend %list;
  display: flex;
  flex-wrap: nowrap;
  
}
.work__item {
  width: 370px;
  margin-right: 30px;
  &:nth-child(3n) {
    margin-right: 0;
  }
}
.thumbs {
  position: relative;
}
.work__image {
 @extend %img;
}
.thumbs__text {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  background-color: rgba(47, 48, 58, 0.8);

  width: 370px;
  height: 70px;
}
