  $prymery-text-color: #212121;
  $tittle-text-color: #757575;
  $accent-color: rgba(33, 150, 243, 1);
  $prymery-bgc: #ffffff;
  $accent-footer-bgc: #2f303a;
  $logo-color: #2196f3;
  $white-color: #ffffff;
  $black-color: #212121;
  $button-bgc: #f5f4fa;
  $footer-address-color: rgba(255, 255, 255, 0.6);
  $page-header-border-color: rgba(236, 236, 236, 1);
  $examples-items-gap: 30px;
  $border-card-content: rgba(238, 238, 238, 1);
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  $font-family: Roboto,
      sans-serif;
  $prymery-font-size: 14px;
  $prymery-letter-spacing: 0.03em;